{% load static %}
<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    {% block style %}
    {% endblock style %}
  </head>
  <body>
    {% block content %}
    <h1>this is base html,<br> You might forgot to change the content block.</h1>
    {% endblock content %}
  </body>
</html>
