{% extends 'my_page/base.html' %}
{% load static %}

{% block views %}
  <section id="contacts">
    <h1>CONTACTS</h1>
    <ul>
      <li><i class="fas fa-envelope"></i></li>
      <li><a style="text-decoration: none; color: #eee;" href="https://gitlab.com/naufalauddin"><i class="fab fa-gitlab"></i></a></li>
    </ul>
  </section>
{% endblock views %}
