{% extends 'my_page/base.html' %}
{% load static %}

{% block views %}
  <section id="skill">
    <h1>SKILL</h1>
    <div class="skills-block">
      <i class="fab fa-python" style="font-size: 48px; margin-right: 20px;"></i><div class="skill-container"><div id="python" class="skills" style="width: 90%;"></div></div><br>
      <i class="fab fa-java" style="font-size: 48px; margin-right: 20px;"></i><div class="skill-container"><div id="python" class="skills"></div></div><br>
      <i class="fas fa-code" style="font-size: 48px; margin-right: 20px;"></i><div class="skill-container"><div id="python" class="skills" style="width: 94%"></div></div>
    </div>
    </section>
{% endblock views %}
