@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
  background-color: #222831;
}

p {
  font-family: "montserrat";
  font-size: 24px;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #393e46;
  width: 100%;
  text-align: right;
  z-index: 2;
}

nav ul {
  list-style: none;
  padding: 5px;
}

nav li {
  margin-right: 20px;
  display:inline;
  text-align: left;
  font-family: "montserrat";
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-top: 50px;
  text-align: center;
  overflow: hidden;
  background-color: #00adb5;
}

.back-blur {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 64px;
  line-height: 1.4em;
  letter-spacing: 10px;
  color: #222831;
}

#front-page {
  background-image: url("../image/cat1.01de72828ebc.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: left;
}

#front-page h1{
  background-image: none;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(0, -50%);
  text-shadow: 2px 2px 4px black;
  color: #e6e6d4;
}

#front-page a {
  color: inherit;
  text-decoration: none;
  transition: text-shadow 0.5s;
}

#front-page a:hover {
  text-shadow: 4px 4px 8px black;
  transition: color 0.5s;
  color: #fff;
}

.section-break {
  position: relative;
  left: -10px;
  top: -10px;
  width: 100%;
  height: 100%;
  background-image: url("../image/cat1.01de72828ebc.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#about-me {
  font-family: "montserrat";
  font-size: 32px;
  color: #e6e6d4;
}

#about-me img {
  display: inline-block;
  height: 200px;
  border-radius: 100px;
}

#about-me .middle {
  padding: 10% 0;
  vertical-align: middle;
}

.skill {
  vertical-align: middle;
}

.skills-block {
  padding: 5px;
  vertical-align: middle;
  line-height: 9.3em;
}

.skill-container {
  display: inline-block;
  width: 70%;
  background-color: #eeeeee;
  overflow: hidden;
  border-radius: 20px;
  height: 30px;
  z-index: 2;
}

.skills-block i {
  margin-right: 20px;
  color: #eeeeee;
}

.skills {
  width: 80%;
  height: 100%;
  background-color: #222831;
  border-radius: 20px;
  z-index: 3;
}

#contacts {
  top: 0px;
  border: none;
  height: 120vh;
  text-align: center;
}

#contacts h1 {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
}

#contacts ul {
  position: relative;
  top: 40%;
  list-style-type: none;
  justify-content: center;
}

#contacts ul li {
  color: #eee;
  font-size: 50px;
  margin-right: 20px;
  display: inline-block;
}

#contacts a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

#contacts i {
  float: left;
  padding: 20px;
  border-radius: 55px;
  background-color: #222831;
}

@media only screen and (max-width: 768px) {
  section {
    margin-top: 50%;
  }
  section h1 {
    font-size: 48px;
  }
}
